* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff0000, #fb2020);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0 2em 0;
    width: 100%; 
}

.header > * {
    margin: 0 1.2em; 
}

.display {
    border: solid 20px white;
    width: 500px;
    height: 250px;
    border-radius: 2em;
    background-color: deepskyblue;
}